/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;            
    -webkit-user-select: none;                  
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

 Portrait layout (default) 
.app {
    background:url(../img/logo.png) no-repeat center top; 
    position:absolute;           
    left:50%;
    top:50%;
    height:50px;                  
    width:225px;                   
    text-align:center;
    padding:180px 0px 0px 0px;     
    margin:-115px 0px 0px -112px;  
                                  
}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px; 
                                     
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
*/
@font-face{
	font-family:"하얀고양이";
	src:url("../font/HoonWhitecatR.ttf");
	format('truetype');
}

@font-face{
	font-family:"나눔고딕";
	src:url("../font/NanumGothic.ttf");
	format('truetype');
}

@font-face{
	font-family:"도현";
	src:url("../font/BMDOHYEON.ttf");
	format('truetype');
}

@font-face{
	font-family:"나눔스퀘어";
	src:url("../font/NanumSquareR.ttf");
	format('truetype');
}

@font-face{
	font-family:"나눔스퀘어B";
	src:url("../font/NANUMSQUAREB.TTF");
	format('truetype');
}

*{
	font-family:"나눔스퀘어B";
}

#articleLoad{
	font-family:"나눔스퀘어";
}

#topmenu{
	margin-left: 4%;	
	background: none;
	border: none;
	margin-top: 5%;
	box-shadow: none;
	float:left;
	width:22px;
	height:22px;
}

#information{
	margin-right: 4%;
	background: none;
	border: none;
	margin-top: 8%;
	box-shadow: none;
	float: right;
	width:22px;
	height:22px;
}

#backmenu{
	margin-left: 5%;	
	background: none;
	border: none;
	box-shadow: none;
}

#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

#frmHeader
{
	border: none;
	background: white;
}

.box {
	border-radius:10px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right:10px;
    padding: 15px 15px;
}

#sectionlist
{
	maring: 2px;	
}

.loca
{
	text-align: center;
	color: gray;
}

.location
{
	font-size: 4vw;
	text-decoration:none;
}


.ui-link{
	font-size: 4vw;
	text-decoration:none;
	text-shadow: none;
}

#mainimg{
	padding-left:8%;
	padding-right:8%;
}

.listsection
{
	padding-left: 8%;
	padding-right: 8%;
	width:84%;
	overflow: hidden;
	height: auto;
	color: red;
}

.listsection2
{
	padding-top: 4%;
	width:100%;
	overflow: hidden;
	height: auto;
	padding-bottom: 3%;
}

.listsection3
{
	padding-top: 4%;
	width:100%;
	overflow: hidden;
	height: auto;
	padding-bottom: 3%;
}

.blist1{
	float: left;
	width: 60%;
	padding: 5px 0px;
	height: 94px;
}

#owl-demo .item img{
	vertical-align: middle;
}

.blist2{
	float: left;
	width: 40%;
	padding: 5px 0px;
	height: 94px;
	display: table;
}

.blist3{
	float: left;
	width: 60%;
	padding: 5px 0px;
	height: 94px;
}

.blist4{
	float: left;
	width: 40%;
	padding: 5px 0px;
	height: 94px;
}

.messagetext
{
	padding: 0px 20px 0px 20px;
}
.messagetext>p
{
	padding: 10px;
	maring-top:5px;
}

.ui-icon-my:after{
	background-image: url("../img/testicon.png");
	background: none;
}

.ui-icon-realback:after{
	background-image: url("../img/back.png");
}

.ui-btn{
	font-family:"나눔스퀘어";
	border-style: none;
	padding: 0.5em;
	text-align: inherit;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
	border-radius: 0em;
}

#backback{
	background: white;
	width: 100%;
	height: auto;
}

.loca{
	float: left;
}

.loca>.location{
	color: #171c61;
}

.loca>.location:visited{
	color: #171c61;
}

.loca>.location:HOVER{
	color: #171c61;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	background: none;
}

.ui-footer-fixed{
	padding-bottom: 0px;
}

a.ui-btn.ui-corner-all.ui-btn-a.ui-icon-delete.ui-btn-icon-notext.ui-btn-right{
	width: auto;
	height: auto;	
}

#footertable{
  font-size: 0;
  position: relative;
  padding: 0;
  width: 100%;
  background: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footercell{
  display: inline-block;
  width: 25%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #059;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footercell1{
	padding-top: 3%;
	padding-bottom: 3%;
}
#footercell2{
	padding-top: 3%;
	padding-bottom: 3%;
}
#footercell3{
	padding-top: 3%;
	padding-bottom: 3%;
}
#footercell4{
	padding-top: 3%;
	padding-bottom: 3%;
}

div#frmHeader.ui-alt-icon.ui-nodisc-icon.ui-header.ui-bar-inherit.ui-header-fixed.slidedown{
	background: white;
}

#PageArticle{
	background: white;
}

#mainlogoimg{
	padding: 10%;
}

#mainlogoimg img{
	margin-top: 15%;
}

.menutype{
	float:left;
	padding-top: 1%;
	color:black;
}

.menutype1{
	width:22px;
	float:right;
}

#sssetmain{
	width:100%;
	height: 500px;
}

.ssset1{
	height: 6%;
	padding: 2% 5% 2% 5%;
	border-bottom: 1px solid;
	border-color: lightgray;
}

.ssset2{
	height: 6%;
	padding: 2% 5% 2% 5%;
	border-bottom: 1px solid;
	border-color: lightgray;
}

.ssset3{
	height: 6%;
	padding: 2% 5% 2% 5%;
	border-bottom: 1px solid;
	border-color: lightgray;
}

.ssset4{
	height: 6%;
	padding: 2% 5% 2% 5%;
	border-bottom: 1px solid;
	border-color: lightgray;
}

.ssset5{
	height: 6%;
	padding: 2% 5% 2% 5%;
	border-bottom: 1px solid;
	border-color: lightgray;
}

#mapicon{
	width: 22px;
}

#goLogin{
	background: whilte;
	text-align: center;
}

#btnLogout{
	background: whilte;
	text-align: center;
}